div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    display: inline-block; 
	text-align: left; 
}

hr {
    width: 20%;
    margin: 0, auto;
}

.results {
    width: 250px;
    border: 3px solid;
    background-color: lightgray;
    padding: 20px;
    text-align: justify;
}